{% extends 'layouts/home.html' %} {% block tittle %} Users {% endblock %} {% block contents %}
<h1>Lista de usuarios</h1>

<a href="{{ url_for('listUsers') }}">Usuarios Registrados</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Correo</th>
            <th>Contraseña</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user[0] }}</td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            <td>{{ user[3] }}</td>
            <td>{{ user[4] }}</td>
            <td>{{ user[5] }}</td>
        </tr>
        {%endfor%}
    </tbody>
</table>

{% endblock %}